---
import { slugify, formatDate } from "../js/utils"
//component imports
import Link from "./Link.astro"
const { frontmatter, url, tagType } = Astro.props
const Tag = tagType

const { category, title, author, date, image, description } =  frontmatter
---

    <article class="card">
            <small>
                <a href={`/category/${slugify(category)}/`} class="badge">{category}</a>
            </small>
                <a href={url} aria-hidden="true" tabindex="-1">
                    <img 
                    src={image.src} 
                    alt={image.alt} 
                    width="400" 
                    height="250"
                    />    
                </a>  
                <div class="content">
                    <div>
                        <Tag class="h3">
                            <a href={url}>{title}</a>
                        </Tag>
                        <small>by <a href={`/author/${slugify(author)}/`}>
                            {author}</a>
                        • {formatDate(date)}</small>
                        </small>
                    </div>
                    <p>{description}</p>
                    <Link
                        href={url}
                        text="Read Post"
                        style="secondary"
                    />
                </div>
    </article>